parameters:
    sylius.cart_twig.class: Hypebeast\Bundle\WebBundle\Twig\HypebeastCartExtension
    sylius.movement_history_twig.class: Hypebeast\Bundle\WebBundle\Twig\HypebeastMovementHistoryExtension
    sylius.form.type.property.class: Hypebeast\Bundle\WebBundle\Form\Type\PropertyType

services:
    sylius.movement_history_twig:
        class: %sylius.movement_history_twig.class%
        arguments:
            - @router
            - @translator
        tags:
            - { name: twig.extension }

    sylius.hypebeast.security.provider:
        class: Hypebeast\Bundle\WebBundle\Security\HypebeastProvider
        arguments:
            - @fos_user.user_provider.username

    sylius.hypebeast.security.listener:
        class: Hypebeast\Bundle\WebBundle\Security\HypebeastListener
        arguments:
            - @security.context
            - @security.authentication.manager
            - %sylius.hypebeast.key%

    sylius.hypebeast.default.country.listener:
        class: Hypebeast\Bundle\WebBundle\EventListener\DefaultCountryListener
        arguments:
            - @sylius.repository.zone
            - @sylius.repository.zone_member_country
            - @sylius.repository.country
            - @maxmind.geoip
            - %sylius.hypebeast.default.country%
            - %sylius.hypebeast.fake.ip%
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

    sylius.form.type.address:
        class: Hypebeast\Bundle\WebBundle\Form\Type\AddressType
        arguments:
            - @service_container
            - %sylius.model.address.class%
            - %sylius.validation_group.address%
            - @sylius.form.listener.address
        tags:
        - { name: form.type, alias:sylius_address }

    store.menu_builder:
        class: Hypebeast\Bundle\WebBundle\Menu\StoreMenuBuilder
        arguments:
            - @knp_menu.factory
            - @security.context
            - @translator

    store.menu.user:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createUserMenu
        arguments:
            - @sylius.cart_provider
            - @sylius.twig.money
        tags:
            - { name: knp_menu.menu, alias: store.user }

    store.menu.sub_navbar:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createSubNavbarMenu
        tags:
            - { name: knp_menu.menu, alias: store.sub_navbar }

    store.menu.brands:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createBrandsMenu
        tags:
            - { name: knp_menu.menu, alias: store.brands }

    store.menu.clothing:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createClothingMenu
        tags:
            - { name: knp_menu.menu, alias: store.clothing }

    store.menu.accessories:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createAccessoriesMenu
        tags:
            - { name: knp_menu.menu, alias: store.accessories }

    store.menu.sale:
        class: Knp\Menu\MenuItem
        factory_service: store.menu_builder
        factory_method: createSaleMenu
        tags:
            - { name: knp_menu.menu, alias: store.sale }
