<div class="modal-header">
    {% block closecross %}
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    {% endblock %}
    <h4 class="modal-title">{% block title '' %}</h4>
</div>

<div class="modal-body">
    {% block content '' %}
</div>

<div class="modal-footer">
    {% block buttons %}
    <button type="button" class="btn btn-info" data-dismiss="modal"><i class="icon-remove"></i> Cancel</button>
    {% endblock %}
</div>
